/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


h1 {
    font-family: 'Cookie', cursive;
    font-size: 71px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;

}

header{
	width: 100%;
	margin: 0;
	padding: 0;
	height: calc(100% + 20px);
	background-color: #ACD0B4;
	align-items: center;
}

header > img {
	margin: 15px 15px;
	position: relative;
	left: 38%;
}

 body{
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	background-image: url(./assets/04-BG.png);
 }

input, textarea {
	outline: 0;
	font-size: 18px;
	position: relative;
	left: 40%;
	padding: 10px;
	margin: 0;
	margin-bottom: 20px;
	border-radius: 7px;
	height: 100%;
	display: block;
}
.container{
  padding: 0;
  position: relative;
  text-align: center;
  height: 100%;
  width: 60%;
  margin: 0;
  left: 17%;
}
.button{
	font-family: 'Open Sans',sans-serif;
	background-color: #71A397;
	width: 260px;
	border: 0;
	color: #fff;
	font-size: 22px;
	box-shadow: 0px 4px 2px 2px #5b8b80; 
}

.button:hover{
	background-color: #5b8b80;
}

.nav{
	position: fixed;
	top: 15%;
	left: 5%;
  color: #ffffff;
  background-color: #4d79ff;
  border: solid 2px #1a53ff;
}
.nav span {
  background-color: #fff;
  color: black;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  font-size: 1.1em;
}

.sidenav {
  min-height: 50%;
  max-height: 72%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 10%;
  left: 20px;
  background-color: #498356;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0%;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #b9b0c2;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    margin-left: 2px;
    width: 10px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
